FrontEnd/OdontoSysBusiness/Connected Services/ComprobanteWS/ComprobanteWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComprobanteWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/ComprobanteWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="comprobante_modifica">
    <part name="parameters" element="tns:comprobante_modifica" />
  </message>
  <message name="comprobante_modificaResponse">
    <part name="parameters" element="tns:comprobante_modificaResponse" />
  </message>
  <message name="comprobante_listarTodos">
    <part name="parameters" element="tns:comprobante_listarTodos" />
  </message>
  <message name="comprobante_listarTodosResponse">
    <part name="parameters" element="tns:comprobante_listarTodosResponse" />
  </message>
  <message name="comprobante_obtenerPorId">
    <part name="parameters" element="tns:comprobante_obtenerPorId" />
  </message>
  <message name="comprobante_obtenerPorIdResponse">
    <part name="parameters" element="tns:comprobante_obtenerPorIdResponse" />
  </message>
  <message name="comprobante_eliminar">
    <part name="parameters" element="tns:comprobante_eliminar" />
  </message>
  <message name="comprobante_eliminarResponse">
    <part name="parameters" element="tns:comprobante_eliminarResponse" />
  </message>
  <message name="comprobante_insertar">
    <part name="parameters" element="tns:comprobante_insertar" />
  </message>
  <message name="comprobante_insertarResponse">
    <part name="parameters" element="tns:comprobante_insertarResponse" />
  </message>
  <message name="comprobante_actualizarTotal">
    <part name="parameters" element="tns:comprobante_actualizarTotal" />
  </message>
  <message name="comprobante_actualizarTotalResponse">
    <part name="parameters" element="tns:comprobante_actualizarTotalResponse" />
  </message>
  <portType name="ComprobanteWA">
    <operation name="comprobante_modifica">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_modificaRequest" message="tns:comprobante_modifica" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_modificaResponse" message="tns:comprobante_modificaResponse" />
    </operation>
    <operation name="comprobante_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_listarTodosRequest" message="tns:comprobante_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_listarTodosResponse" message="tns:comprobante_listarTodosResponse" />
    </operation>
    <operation name="comprobante_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_obtenerPorIdRequest" message="tns:comprobante_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_obtenerPorIdResponse" message="tns:comprobante_obtenerPorIdResponse" />
    </operation>
    <operation name="comprobante_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_eliminarRequest" message="tns:comprobante_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_eliminarResponse" message="tns:comprobante_eliminarResponse" />
    </operation>
    <operation name="comprobante_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_insertarRequest" message="tns:comprobante_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_insertarResponse" message="tns:comprobante_insertarResponse" />
    </operation>
    <operation name="comprobante_actualizarTotal">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_actualizarTotalRequest" message="tns:comprobante_actualizarTotal" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ComprobanteWA/comprobante_actualizarTotalResponse" message="tns:comprobante_actualizarTotalResponse" />
    </operation>
  </portType>
  <binding name="ComprobanteWAPortBinding" type="tns:ComprobanteWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="comprobante_modifica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprobante_actualizarTotal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprobanteWA">
    <port name="ComprobanteWAPort" binding="tns:ComprobanteWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/ComprobanteWA" />
    </port>
  </service>
</definitions>