FrontEnd/OdontoSysBusiness/Connected Services/ComprobanteWS/ComprobanteWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comprobante_actualizarTotal" type="tns:comprobante_actualizarTotal" />
  <xs:element name="comprobante_actualizarTotalResponse" type="tns:comprobante_actualizarTotalResponse" />
  <xs:element name="comprobante_eliminar" type="tns:comprobante_eliminar" />
  <xs:element name="comprobante_eliminarResponse" type="tns:comprobante_eliminarResponse" />
  <xs:element name="comprobante_insertar" type="tns:comprobante_insertar" />
  <xs:element name="comprobante_insertarResponse" type="tns:comprobante_insertarResponse" />
  <xs:element name="comprobante_listarTodos" type="tns:comprobante_listarTodos" />
  <xs:element name="comprobante_listarTodosResponse" type="tns:comprobante_listarTodosResponse" />
  <xs:element name="comprobante_modifica" type="tns:comprobante_modifica" />
  <xs:element name="comprobante_modificaResponse" type="tns:comprobante_modificaResponse" />
  <xs:element name="comprobante_obtenerPorId" type="tns:comprobante_obtenerPorId" />
  <xs:element name="comprobante_obtenerPorIdResponse" type="tns:comprobante_obtenerPorIdResponse" />
  <xs:complexType name="comprobante_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="comprobante_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="horaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_actualizarTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_actualizarTotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_modifica">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_modificaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>