FrontEndEmpleados/OdontoSysWebApplication/Connected Services/EspecialidadWS/EspecialidadWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EspecialidadWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/EspecialidadWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="especialidad_insertar">
    <part name="parameters" element="tns:especialidad_insertar" />
  </message>
  <message name="especialidad_insertarResponse">
    <part name="parameters" element="tns:especialidad_insertarResponse" />
  </message>
  <message name="especialidad_modificar">
    <part name="parameters" element="tns:especialidad_modificar" />
  </message>
  <message name="especialidad_modificarResponse">
    <part name="parameters" element="tns:especialidad_modificarResponse" />
  </message>
  <message name="especialidad_obtenerPorId">
    <part name="parameters" element="tns:especialidad_obtenerPorId" />
  </message>
  <message name="especialidad_obtenerPorIdResponse">
    <part name="parameters" element="tns:especialidad_obtenerPorIdResponse" />
  </message>
  <message name="especialidad_eliminar">
    <part name="parameters" element="tns:especialidad_eliminar" />
  </message>
  <message name="especialidad_eliminarResponse">
    <part name="parameters" element="tns:especialidad_eliminarResponse" />
  </message>
  <message name="especialidad_listarTodos">
    <part name="parameters" element="tns:especialidad_listarTodos" />
  </message>
  <message name="especialidad_listarTodosResponse">
    <part name="parameters" element="tns:especialidad_listarTodosResponse" />
  </message>
  <portType name="EspecialidadWA">
    <operation name="especialidad_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_insertarRequest" message="tns:especialidad_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_insertarResponse" message="tns:especialidad_insertarResponse" />
    </operation>
    <operation name="especialidad_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_modificarRequest" message="tns:especialidad_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_modificarResponse" message="tns:especialidad_modificarResponse" />
    </operation>
    <operation name="especialidad_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_obtenerPorIdRequest" message="tns:especialidad_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_obtenerPorIdResponse" message="tns:especialidad_obtenerPorIdResponse" />
    </operation>
    <operation name="especialidad_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_eliminarRequest" message="tns:especialidad_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_eliminarResponse" message="tns:especialidad_eliminarResponse" />
    </operation>
    <operation name="especialidad_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_listarTodosRequest" message="tns:especialidad_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/EspecialidadWA/especialidad_listarTodosResponse" message="tns:especialidad_listarTodosResponse" />
    </operation>
  </portType>
  <binding name="EspecialidadWAPortBinding" type="tns:EspecialidadWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="especialidad_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EspecialidadWA">
    <port name="EspecialidadWAPort" binding="tns:EspecialidadWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/EspecialidadWA" />
    </port>
  </service>
</definitions>