OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/turnoWS/Turnos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarTurno" type="tns:EliminarTurno" />
  <xs:element name="EliminarTurnoResponse" type="tns:EliminarTurnoResponse" />
  <xs:element name="InsertarTurno" type="tns:InsertarTurno" />
  <xs:element name="InsertarTurnoResponse" type="tns:InsertarTurnoResponse" />
  <xs:element name="ModificarTurno" type="tns:ModificarTurno" />
  <xs:element name="ModificarTurnoResponse" type="tns:ModificarTurnoResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:complexType name="InsertarTurno">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaSemana" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="InsertarTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTurno">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarTurno">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONDAY" />
      <xs:enumeration value="TUESDAY" />
      <xs:enumeration value="WEDNESDAY" />
      <xs:enumeration value="THURSDAY" />
      <xs:enumeration value="FRIDAY" />
      <xs:enumeration value="SATURDAY" />
      <xs:enumeration value="SUNDAY" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>