OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/especialidadWS/Especialidades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Especialidades" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Especialidades?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="ListarEspecialidades">
    <part name="parameters" element="tns:ListarEspecialidades" />
  </message>
  <message name="ListarEspecialidadesResponse">
    <part name="parameters" element="tns:ListarEspecialidadesResponse" />
  </message>
  <message name="EliminarEspecialidad">
    <part name="parameters" element="tns:EliminarEspecialidad" />
  </message>
  <message name="EliminarEspecialidadResponse">
    <part name="parameters" element="tns:EliminarEspecialidadResponse" />
  </message>
  <message name="ModificarEspecialidad">
    <part name="parameters" element="tns:ModificarEspecialidad" />
  </message>
  <message name="ModificarEspecialidadResponse">
    <part name="parameters" element="tns:ModificarEspecialidadResponse" />
  </message>
  <message name="InsertarEspecialidad">
    <part name="parameters" element="tns:InsertarEspecialidad" />
  </message>
  <message name="InsertarEspecialidadResponse">
    <part name="parameters" element="tns:InsertarEspecialidadResponse" />
  </message>
  <portType name="Especialidades">
    <operation name="ListarEspecialidades">
      <input wsam:Action="http://wa.odontosys.com/Especialidades/ListarEspecialidadesRequest" message="tns:ListarEspecialidades" />
      <output wsam:Action="http://wa.odontosys.com/Especialidades/ListarEspecialidadesResponse" message="tns:ListarEspecialidadesResponse" />
    </operation>
    <operation name="EliminarEspecialidad">
      <input wsam:Action="http://wa.odontosys.com/Especialidades/EliminarEspecialidadRequest" message="tns:EliminarEspecialidad" />
      <output wsam:Action="http://wa.odontosys.com/Especialidades/EliminarEspecialidadResponse" message="tns:EliminarEspecialidadResponse" />
    </operation>
    <operation name="ModificarEspecialidad">
      <input wsam:Action="http://wa.odontosys.com/Especialidades/ModificarEspecialidadRequest" message="tns:ModificarEspecialidad" />
      <output wsam:Action="http://wa.odontosys.com/Especialidades/ModificarEspecialidadResponse" message="tns:ModificarEspecialidadResponse" />
    </operation>
    <operation name="InsertarEspecialidad">
      <input wsam:Action="http://wa.odontosys.com/Especialidades/InsertarEspecialidadRequest" message="tns:InsertarEspecialidad" />
      <output wsam:Action="http://wa.odontosys.com/Especialidades/InsertarEspecialidadResponse" message="tns:InsertarEspecialidadResponse" />
    </operation>
  </portType>
  <binding name="EspecialidadesPortBinding" type="tns:Especialidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarEspecialidades">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Especialidades">
    <port name="EspecialidadesPort" binding="tns:EspecialidadesPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Especialidades" />
    </port>
  </service>
</definitions>