OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/especialidadWS/Especialidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarEspecialidad" type="tns:EliminarEspecialidad" />
  <xs:element name="EliminarEspecialidadResponse" type="tns:EliminarEspecialidadResponse" />
  <xs:element name="InsertarEspecialidad" type="tns:InsertarEspecialidad" />
  <xs:element name="InsertarEspecialidadResponse" type="tns:InsertarEspecialidadResponse" />
  <xs:element name="ListarEspecialidades" type="tns:ListarEspecialidades" />
  <xs:element name="ListarEspecialidadesResponse" type="tns:ListarEspecialidadesResponse" />
  <xs:element name="ModificarEspecialidad" type="tns:ModificarEspecialidad" />
  <xs:element name="ModificarEspecialidadResponse" type="tns:ModificarEspecialidadResponse" />
  <xs:complexType name="ListarEspecialidades">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarEspecialidadesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>