FrontEnd/OdontoSysWebApplication/Connected Services/MetodoPagoWS/MetodoPagoWA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metodoPago_eliminar" type="tns:metodoPago_eliminar" />
  <xs:element name="metodoPago_eliminarResponse" type="tns:metodoPago_eliminarResponse" />
  <xs:element name="metodoPago_insertar" type="tns:metodoPago_insertar" />
  <xs:element name="metodoPago_insertarResponse" type="tns:metodoPago_insertarResponse" />
  <xs:element name="metodoPago_listarTodos" type="tns:metodoPago_listarTodos" />
  <xs:element name="metodoPago_listarTodosResponse" type="tns:metodoPago_listarTodosResponse" />
  <xs:element name="metodoPago_modificar" type="tns:metodoPago_modificar" />
  <xs:element name="metodoPago_modificarResponse" type="tns:metodoPago_modificarResponse" />
  <xs:element name="metodoPago_obtenerPorId" type="tns:metodoPago_obtenerPorId" />
  <xs:element name="metodoPago_obtenerPorIdResponse" type="tns:metodoPago_obtenerPorIdResponse" />
  <xs:complexType name="metodoPago_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="metodoPago_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>