FrontEnd/OdontoSysBusiness/Connected Services/SalaWS/SalaWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SalaWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/SalaWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="sala_obtenerPorId">
    <part name="parameters" element="tns:sala_obtenerPorId" />
  </message>
  <message name="sala_obtenerPorIdResponse">
    <part name="parameters" element="tns:sala_obtenerPorIdResponse" />
  </message>
  <message name="sala_listarTodos">
    <part name="parameters" element="tns:sala_listarTodos" />
  </message>
  <message name="sala_listarTodosResponse">
    <part name="parameters" element="tns:sala_listarTodosResponse" />
  </message>
  <message name="sala_insertar">
    <part name="parameters" element="tns:sala_insertar" />
  </message>
  <message name="sala_insertarResponse">
    <part name="parameters" element="tns:sala_insertarResponse" />
  </message>
  <message name="sala_modificar">
    <part name="parameters" element="tns:sala_modificar" />
  </message>
  <message name="sala_modificarResponse">
    <part name="parameters" element="tns:sala_modificarResponse" />
  </message>
  <message name="sala_eliminar">
    <part name="parameters" element="tns:sala_eliminar" />
  </message>
  <message name="sala_eliminarResponse">
    <part name="parameters" element="tns:sala_eliminarResponse" />
  </message>
  <portType name="SalaWA">
    <operation name="sala_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_obtenerPorIdRequest" message="tns:sala_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_obtenerPorIdResponse" message="tns:sala_obtenerPorIdResponse" />
    </operation>
    <operation name="sala_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_listarTodosRequest" message="tns:sala_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_listarTodosResponse" message="tns:sala_listarTodosResponse" />
    </operation>
    <operation name="sala_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_insertarRequest" message="tns:sala_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_insertarResponse" message="tns:sala_insertarResponse" />
    </operation>
    <operation name="sala_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_modificarRequest" message="tns:sala_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_modificarResponse" message="tns:sala_modificarResponse" />
    </operation>
    <operation name="sala_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_eliminarRequest" message="tns:sala_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/SalaWA/sala_eliminarResponse" message="tns:sala_eliminarResponse" />
    </operation>
  </portType>
  <binding name="SalaWAPortBinding" type="tns:SalaWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sala_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sala_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sala_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sala_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sala_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SalaWA">
    <port name="SalaWAPort" binding="tns:SalaWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/SalaWA" />
    </port>
  </service>
</definitions>