FrontEnd/OdontoSysBusiness/Connected Services/SalaWS/SalaWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sala_eliminar" type="tns:sala_eliminar" />
  <xs:element name="sala_eliminarResponse" type="tns:sala_eliminarResponse" />
  <xs:element name="sala_insertar" type="tns:sala_insertar" />
  <xs:element name="sala_insertarResponse" type="tns:sala_insertarResponse" />
  <xs:element name="sala_listarTodos" type="tns:sala_listarTodos" />
  <xs:element name="sala_listarTodosResponse" type="tns:sala_listarTodosResponse" />
  <xs:element name="sala_modificar" type="tns:sala_modificar" />
  <xs:element name="sala_modificarResponse" type="tns:sala_modificarResponse" />
  <xs:element name="sala_obtenerPorId" type="tns:sala_obtenerPorId" />
  <xs:element name="sala_obtenerPorIdResponse" type="tns:sala_obtenerPorIdResponse" />
  <xs:complexType name="sala_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="piso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sala_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>