OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/pacienteWS/Pacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Pacientes" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Pacientes?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="eliminarPaciente">
    <part name="parameters" element="tns:eliminarPaciente" />
  </message>
  <message name="eliminarPacienteResponse">
    <part name="parameters" element="tns:eliminarPacienteResponse" />
  </message>
  <message name="listarPacientes">
    <part name="parameters" element="tns:listarPacientes" />
  </message>
  <message name="listarPacientesResponse">
    <part name="parameters" element="tns:listarPacientesResponse" />
  </message>
  <message name="pa_obtenerPorID">
    <part name="parameters" element="tns:pa_obtenerPorID" />
  </message>
  <message name="pa_obtenerPorIDResponse">
    <part name="parameters" element="tns:pa_obtenerPorIDResponse" />
  </message>
  <message name="modificarPaciente">
    <part name="parameters" element="tns:modificarPaciente" />
  </message>
  <message name="modificarPacienteResponse">
    <part name="parameters" element="tns:modificarPacienteResponse" />
  </message>
  <message name="insertarPaciente">
    <part name="parameters" element="tns:insertarPaciente" />
  </message>
  <message name="insertarPacienteResponse">
    <part name="parameters" element="tns:insertarPacienteResponse" />
  </message>
  <message name="pa_buscarPorUsuario">
    <part name="parameters" element="tns:pa_buscarPorUsuario" />
  </message>
  <message name="pa_buscarPorUsuarioResponse">
    <part name="parameters" element="tns:pa_buscarPorUsuarioResponse" />
  </message>
  <portType name="Pacientes">
    <operation name="eliminarPaciente">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/eliminarPacienteRequest" message="tns:eliminarPaciente" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/eliminarPacienteResponse" message="tns:eliminarPacienteResponse" />
    </operation>
    <operation name="listarPacientes">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/listarPacientesRequest" message="tns:listarPacientes" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/listarPacientesResponse" message="tns:listarPacientesResponse" />
    </operation>
    <operation name="pa_obtenerPorID">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/pa_obtenerPorIDRequest" message="tns:pa_obtenerPorID" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/pa_obtenerPorIDResponse" message="tns:pa_obtenerPorIDResponse" />
    </operation>
    <operation name="modificarPaciente">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/modificarPacienteRequest" message="tns:modificarPaciente" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/modificarPacienteResponse" message="tns:modificarPacienteResponse" />
    </operation>
    <operation name="insertarPaciente">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/insertarPacienteRequest" message="tns:insertarPaciente" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/insertarPacienteResponse" message="tns:insertarPacienteResponse" />
    </operation>
    <operation name="pa_buscarPorUsuario">
      <input wsam:Action="http://wa.odontosys.com/Pacientes/pa_buscarPorUsuarioRequest" message="tns:pa_buscarPorUsuario" />
      <output wsam:Action="http://wa.odontosys.com/Pacientes/pa_buscarPorUsuarioResponse" message="tns:pa_buscarPorUsuarioResponse" />
    </operation>
  </portType>
  <binding name="PacientesPortBinding" type="tns:Pacientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPacientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pa_obtenerPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pa_buscarPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pacientes">
    <port name="PacientesPort" binding="tns:PacientesPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Pacientes" />
    </port>
  </service>
</definitions>