FrontEnd/OdontoSysBusiness/Connected Services/ValoracionWS/ValoracionWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ValoracionWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/ValoracionWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="valoracion_eliminar">
    <part name="parameters" element="tns:valoracion_eliminar" />
  </message>
  <message name="valoracion_eliminarResponse">
    <part name="parameters" element="tns:valoracion_eliminarResponse" />
  </message>
  <message name="valoracion_obtenerPorId">
    <part name="parameters" element="tns:valoracion_obtenerPorId" />
  </message>
  <message name="valoracion_obtenerPorIdResponse">
    <part name="parameters" element="tns:valoracion_obtenerPorIdResponse" />
  </message>
  <message name="valoracion_modificar">
    <part name="parameters" element="tns:valoracion_modificar" />
  </message>
  <message name="valoracion_modificarResponse">
    <part name="parameters" element="tns:valoracion_modificarResponse" />
  </message>
  <message name="valoracion_listarTodos">
    <part name="parameters" element="tns:valoracion_listarTodos" />
  </message>
  <message name="valoracion_listarTodosResponse">
    <part name="parameters" element="tns:valoracion_listarTodosResponse" />
  </message>
  <message name="valoracion_insertar">
    <part name="parameters" element="tns:valoracion_insertar" />
  </message>
  <message name="valoracion_insertarResponse">
    <part name="parameters" element="tns:valoracion_insertarResponse" />
  </message>
  <portType name="ValoracionWA">
    <operation name="valoracion_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_eliminarRequest" message="tns:valoracion_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_eliminarResponse" message="tns:valoracion_eliminarResponse" />
    </operation>
    <operation name="valoracion_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_obtenerPorIdRequest" message="tns:valoracion_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_obtenerPorIdResponse" message="tns:valoracion_obtenerPorIdResponse" />
    </operation>
    <operation name="valoracion_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_modificarRequest" message="tns:valoracion_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_modificarResponse" message="tns:valoracion_modificarResponse" />
    </operation>
    <operation name="valoracion_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_listarTodosRequest" message="tns:valoracion_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_listarTodosResponse" message="tns:valoracion_listarTodosResponse" />
    </operation>
    <operation name="valoracion_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_insertarRequest" message="tns:valoracion_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/ValoracionWA/valoracion_insertarResponse" message="tns:valoracion_insertarResponse" />
    </operation>
  </portType>
  <binding name="ValoracionWAPortBinding" type="tns:ValoracionWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="valoracion_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valoracion_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valoracion_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valoracion_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valoracion_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ValoracionWA">
    <port name="ValoracionWAPort" binding="tns:ValoracionWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/ValoracionWA" />
    </port>
  </service>
</definitions>