FrontEnd/OdontoSysBusiness/Connected Services/ValoracionWS/ValoracionWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="valoracion_eliminar" type="tns:valoracion_eliminar" />
  <xs:element name="valoracion_eliminarResponse" type="tns:valoracion_eliminarResponse" />
  <xs:element name="valoracion_insertar" type="tns:valoracion_insertar" />
  <xs:element name="valoracion_insertarResponse" type="tns:valoracion_insertarResponse" />
  <xs:element name="valoracion_listarTodos" type="tns:valoracion_listarTodos" />
  <xs:element name="valoracion_listarTodosResponse" type="tns:valoracion_listarTodosResponse" />
  <xs:element name="valoracion_modificar" type="tns:valoracion_modificar" />
  <xs:element name="valoracion_modificarResponse" type="tns:valoracion_modificarResponse" />
  <xs:element name="valoracion_obtenerPorId" type="tns:valoracion_obtenerPorId" />
  <xs:element name="valoracion_obtenerPorIdResponse" type="tns:valoracion_obtenerPorIdResponse" />
  <xs:complexType name="valoracion_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="valoracion_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="calicicacion" type="xs:int" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCalificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idValoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="valoracion" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="valoracion" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="valoracion" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>