OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/salaWS/Salas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarSala" type="tns:EliminarSala" />
  <xs:element name="EliminarSalaResponse" type="tns:EliminarSalaResponse" />
  <xs:element name="InsertarSala" type="tns:InsertarSala" />
  <xs:element name="InsertarSalaResponse" type="tns:InsertarSalaResponse" />
  <xs:complexType name="InsertarSala">
    <xs:sequence>
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element name="piso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarSalaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarSala">
    <xs:sequence>
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarSalaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>