OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/recepcionistaWS/Recepcionistas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarPorUsuario" type="tns:buscarPorUsuario" />
  <xs:element name="buscarPorUsuarioResponse" type="tns:buscarPorUsuarioResponse" />
  <xs:element name="eliminarRecepcionista" type="tns:eliminarRecepcionista" />
  <xs:element name="eliminarRecepcionistaResponse" type="tns:eliminarRecepcionistaResponse" />
  <xs:element name="insertarRecepcionista" type="tns:insertarRecepcionista" />
  <xs:element name="insertarRecepcionistaResponse" type="tns:insertarRecepcionistaResponse" />
  <xs:element name="listarRecepcionista" type="tns:listarRecepcionista" />
  <xs:element name="listarRecepcionistaResponse" type="tns:listarRecepcionistaResponse" />
  <xs:element name="modificarRecepcionista" type="tns:modificarRecepcionista" />
  <xs:element name="modificarRecepcionistaResponse" type="tns:modificarRecepcionistaResponse" />
  <xs:element name="obtenerPorID" type="tns:obtenerPorID" />
  <xs:element name="obtenerPorIDResponse" type="tns:obtenerPorIDResponse" />
  <xs:complexType name="insertarRecepcionista">
    <xs:sequence>
      <xs:element minOccurs="0" name="recepcionista" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recepcionista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="idRecepcionista" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRecepcionistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRecepcionista">
    <xs:sequence>
      <xs:element minOccurs="0" name="recepcionista" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRecepcionistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRecepcionista">
    <xs:sequence>
      <xs:element minOccurs="0" name="recepcionista" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRecepcionistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRecepcionista">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRecepcionistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="recepcionistaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:recepcionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNE_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLACEHOLDER" />
      <xs:enumeration value="PACIENTE" />
      <xs:enumeration value="ODONTOLOGO" />
      <xs:enumeration value="RECEPCIONISTA" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>