FrontEnd/OdontoSysBusiness/Connected Services/CitaWS/CitaWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cita_eliminar" type="tns:cita_eliminar" />
  <xs:element name="cita_eliminarResponse" type="tns:cita_eliminarResponse" />
  <xs:element name="cita_insertar" type="tns:cita_insertar" />
  <xs:element name="cita_insertarResponse" type="tns:cita_insertarResponse" />
  <xs:element name="cita_listarPorOdontologo" type="tns:cita_listarPorOdontologo" />
  <xs:element name="cita_listarPorOdontologoFechas" type="tns:cita_listarPorOdontologoFechas" />
  <xs:element name="cita_listarPorOdontologoFechasResponse" type="tns:cita_listarPorOdontologoFechasResponse" />
  <xs:element name="cita_listarPorOdontologoResponse" type="tns:cita_listarPorOdontologoResponse" />
  <xs:element name="cita_listarPorPaciente" type="tns:cita_listarPorPaciente" />
  <xs:element name="cita_listarPorPacienteFechas" type="tns:cita_listarPorPacienteFechas" />
  <xs:element name="cita_listarPorPacienteFechasResponse" type="tns:cita_listarPorPacienteFechasResponse" />
  <xs:element name="cita_listarPorPacienteResponse" type="tns:cita_listarPorPacienteResponse" />
  <xs:element name="cita_listarTodos" type="tns:cita_listarTodos" />
  <xs:element name="cita_listarTodosResponse" type="tns:cita_listarTodosResponse" />
  <xs:element name="cita_modificar" type="tns:cita_modificar" />
  <xs:element name="cita_modificarResponse" type="tns:cita_modificarResponse" />
  <xs:element name="cita_obtenerPorId" type="tns:cita_obtenerPorId" />
  <xs:element name="cita_obtenerPorIdResponse" type="tns:cita_obtenerPorIdResponse" />
  <xs:complexType name="cita_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="odontologo" type="tns:odontologo" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tratamientos" nillable="true" type="tns:detalleTratamiento" />
      <xs:element minOccurs="0" name="valoracion" type="tns:valoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="horaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="odontologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
          <xs:element minOccurs="0" name="consultorio" type="tns:sala" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
          <xs:element name="puntuacionPromedio" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="turnos" nillable="true" type="tns:turno" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="piso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaSemana" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paciente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
          <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento">
    <xs:sequence>
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element minOccurs="0" name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valoracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="calicicacion" type="xs:int" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCalificacion" type="xs:string" />
      <xs:element minOccurs="0" name="idValoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorOdontologoFechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorOdontologoFechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cita_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorPacienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorPacienteFechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPaciente" type="xs:int" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorPacienteFechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_listarPorOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESERVADA" />
      <xs:enumeration value="ATENDIDA" />
      <xs:enumeration value="CANCELADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONDAY" />
      <xs:enumeration value="TUESDAY" />
      <xs:enumeration value="WEDNESDAY" />
      <xs:enumeration value="THURSDAY" />
      <xs:enumeration value="FRIDAY" />
      <xs:enumeration value="SATURDAY" />
      <xs:enumeration value="SUNDAY" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>