FrontEnd/OdontoSysWebApplication/Connected Services/CitaWS/CitaWA1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CitaWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/CitaWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="cita_listarPorOdontologoFechas">
    <part name="parameters" element="tns:cita_listarPorOdontologoFechas" />
  </message>
  <message name="cita_listarPorOdontologoFechasResponse">
    <part name="parameters" element="tns:cita_listarPorOdontologoFechasResponse" />
  </message>
  <message name="cita_actualizarFkValoracion">
    <part name="parameters" element="tns:cita_actualizarFkValoracion" />
  </message>
  <message name="cita_actualizarFkValoracionResponse">
    <part name="parameters" element="tns:cita_actualizarFkValoracionResponse" />
  </message>
  <message name="cita_listarPorRecepcionista">
    <part name="parameters" element="tns:cita_listarPorRecepcionista" />
  </message>
  <message name="cita_listarPorRecepcionistaResponse">
    <part name="parameters" element="tns:cita_listarPorRecepcionistaResponse" />
  </message>
  <message name="cita_eliminar">
    <part name="parameters" element="tns:cita_eliminar" />
  </message>
  <message name="cita_eliminarResponse">
    <part name="parameters" element="tns:cita_eliminarResponse" />
  </message>
  <message name="cita_listarTodos">
    <part name="parameters" element="tns:cita_listarTodos" />
  </message>
  <message name="cita_listarTodosResponse">
    <part name="parameters" element="tns:cita_listarTodosResponse" />
  </message>
  <message name="cita_insertar">
    <part name="parameters" element="tns:cita_insertar" />
  </message>
  <message name="cita_insertarResponse">
    <part name="parameters" element="tns:cita_insertarResponse" />
  </message>
  <message name="cita_obtenerPorId">
    <part name="parameters" element="tns:cita_obtenerPorId" />
  </message>
  <message name="cita_obtenerPorIdResponse">
    <part name="parameters" element="tns:cita_obtenerPorIdResponse" />
  </message>
  <message name="cita_modificar">
    <part name="parameters" element="tns:cita_modificar" />
  </message>
  <message name="cita_modificarResponse">
    <part name="parameters" element="tns:cita_modificarResponse" />
  </message>
  <message name="cita_listarPorPaciente">
    <part name="parameters" element="tns:cita_listarPorPaciente" />
  </message>
  <message name="cita_listarPorPacienteResponse">
    <part name="parameters" element="tns:cita_listarPorPacienteResponse" />
  </message>
  <message name="cita_listarPorOdontologo">
    <part name="parameters" element="tns:cita_listarPorOdontologo" />
  </message>
  <message name="cita_listarPorOdontologoResponse">
    <part name="parameters" element="tns:cita_listarPorOdontologoResponse" />
  </message>
  <portType name="CitaWA">
    <operation name="cita_listarPorOdontologoFechas">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorOdontologoFechasRequest" message="tns:cita_listarPorOdontologoFechas" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorOdontologoFechasResponse" message="tns:cita_listarPorOdontologoFechasResponse" />
    </operation>
    <operation name="cita_actualizarFkValoracion">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_actualizarFkValoracionRequest" message="tns:cita_actualizarFkValoracion" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_actualizarFkValoracionResponse" message="tns:cita_actualizarFkValoracionResponse" />
    </operation>
    <operation name="cita_listarPorRecepcionista">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorRecepcionistaRequest" message="tns:cita_listarPorRecepcionista" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorRecepcionistaResponse" message="tns:cita_listarPorRecepcionistaResponse" />
    </operation>
    <operation name="cita_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_eliminarRequest" message="tns:cita_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_eliminarResponse" message="tns:cita_eliminarResponse" />
    </operation>
    <operation name="cita_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarTodosRequest" message="tns:cita_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarTodosResponse" message="tns:cita_listarTodosResponse" />
    </operation>
    <operation name="cita_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_insertarRequest" message="tns:cita_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_insertarResponse" message="tns:cita_insertarResponse" />
    </operation>
    <operation name="cita_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_obtenerPorIdRequest" message="tns:cita_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_obtenerPorIdResponse" message="tns:cita_obtenerPorIdResponse" />
    </operation>
    <operation name="cita_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_modificarRequest" message="tns:cita_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_modificarResponse" message="tns:cita_modificarResponse" />
    </operation>
    <operation name="cita_listarPorPaciente">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorPacienteRequest" message="tns:cita_listarPorPaciente" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorPacienteResponse" message="tns:cita_listarPorPacienteResponse" />
    </operation>
    <operation name="cita_listarPorOdontologo">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorOdontologoRequest" message="tns:cita_listarPorOdontologo" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/CitaWA/cita_listarPorOdontologoResponse" message="tns:cita_listarPorOdontologoResponse" />
    </operation>
  </portType>
  <binding name="CitaWAPortBinding" type="tns:CitaWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cita_listarPorOdontologoFechas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_actualizarFkValoracion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_listarPorRecepcionista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_listarPorPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cita_listarPorOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CitaWA">
    <port name="CitaWAPort" binding="tns:CitaWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication-1.0-SNAPSHOT/CitaWA" />
    </port>
  </service>
</definitions>