FrontEnd/OdontoSysBusiness/Connected Services/DetalleTratamientoWS/DetalleTratamientoWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="detalleTratamiento_actualizarSubtotal" type="tns:detalleTratamiento_actualizarSubtotal" />
  <xs:element name="detalleTratamiento_actualizarSubtotalResponse" type="tns:detalleTratamiento_actualizarSubtotalResponse" />
  <xs:element name="detalleTratamiento_eliminar" type="tns:detalleTratamiento_eliminar" />
  <xs:element name="detalleTratamiento_eliminarResponse" type="tns:detalleTratamiento_eliminarResponse" />
  <xs:element name="detalleTratamiento_insertar" type="tns:detalleTratamiento_insertar" />
  <xs:element name="detalleTratamiento_insertarResponse" type="tns:detalleTratamiento_insertarResponse" />
  <xs:element name="detalleTratamiento_listarPorCita" type="tns:detalleTratamiento_listarPorCita" />
  <xs:element name="detalleTratamiento_listarPorCitaResponse" type="tns:detalleTratamiento_listarPorCitaResponse" />
  <xs:element name="detalleTratamiento_listarTodos" type="tns:detalleTratamiento_listarTodos" />
  <xs:element name="detalleTratamiento_listarTodosResponse" type="tns:detalleTratamiento_listarTodosResponse" />
  <xs:element name="detalleTratamiento_modificar" type="tns:detalleTratamiento_modificar" />
  <xs:element name="detalleTratamiento_modificarResponse" type="tns:detalleTratamiento_modificarResponse" />
  <xs:element name="detalleTratamiento_obtenerPorId" type="tns:detalleTratamiento_obtenerPorId" />
  <xs:element name="detalleTratamiento_obtenerPorIdResponse" type="tns:detalleTratamiento_obtenerPorIdResponse" />
  <xs:complexType name="detalleTratamiento_actualizarSubtotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_actualizarSubtotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleTratamiento" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento">
    <xs:sequence>
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element minOccurs="0" name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleTratamiento" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleTratamiento" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_listarPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_listarPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>