OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/citaWS/Citas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Citas" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Citas?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Citas?xsd=2" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
  </types>
  <message name="insertCita">
    <part name="parameters" element="tns:insertCita" />
  </message>
  <message name="insertCitaResponse">
    <part name="parameters" element="tns:insertCitaResponse" />
  </message>
  <message name="eliminarCita">
    <part name="parameters" element="tns:eliminarCita" />
  </message>
  <message name="eliminarCitaResponse">
    <part name="parameters" element="tns:eliminarCitaResponse" />
  </message>
  <message name="modificarCita">
    <part name="parameters" element="tns:modificarCita" />
  </message>
  <message name="modificarCitaResponse">
    <part name="parameters" element="tns:modificarCitaResponse" />
  </message>
  <message name="calcularDisponibilidad">
    <part name="parameters" element="tns:calcularDisponibilidad" />
  </message>
  <message name="calcularDisponibilidadResponse">
    <part name="parameters" element="tns:calcularDisponibilidadResponse" />
  </message>
  <message name="od_listarPorOdontologo">
    <part name="parameters" element="tns:od_listarPorOdontologo" />
  </message>
  <message name="od_listarPorOdontologoResponse">
    <part name="parameters" element="tns:od_listarPorOdontologoResponse" />
  </message>
  <portType name="Citas">
    <operation name="insertCita">
      <input wsam:Action="http://wa.odontosys.com/Citas/insertCitaRequest" message="tns:insertCita" />
      <output wsam:Action="http://wa.odontosys.com/Citas/insertCitaResponse" message="tns:insertCitaResponse" />
    </operation>
    <operation name="eliminarCita">
      <input wsam:Action="http://wa.odontosys.com/Citas/eliminarCitaRequest" message="tns:eliminarCita" />
      <output wsam:Action="http://wa.odontosys.com/Citas/eliminarCitaResponse" message="tns:eliminarCitaResponse" />
    </operation>
    <operation name="modificarCita">
      <input wsam:Action="http://wa.odontosys.com/Citas/modificarCitaRequest" message="tns:modificarCita" />
      <output wsam:Action="http://wa.odontosys.com/Citas/modificarCitaResponse" message="tns:modificarCitaResponse" />
    </operation>
    <operation name="calcularDisponibilidad">
      <input wsam:Action="http://wa.odontosys.com/Citas/calcularDisponibilidadRequest" message="tns:calcularDisponibilidad" />
      <output wsam:Action="http://wa.odontosys.com/Citas/calcularDisponibilidadResponse" message="tns:calcularDisponibilidadResponse" />
    </operation>
    <operation name="od_listarPorOdontologo">
      <input wsam:Action="http://wa.odontosys.com/Citas/od_listarPorOdontologoRequest" message="tns:od_listarPorOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/Citas/od_listarPorOdontologoResponse" message="tns:od_listarPorOdontologoResponse" />
    </operation>
  </portType>
  <binding name="CitasPortBinding" type="tns:Citas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="calcularDisponibilidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="od_listarPorOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Citas">
    <port name="CitasPort" binding="tns:CitasPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Citas" />
    </port>
  </service>
</definitions>