FrontEndEmpleados/OdontoSysWebApplication/Connected Services/MetodoPagoWS/MetodoPagoWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MetodoPagoWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/MetodoPagoWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="metodoPago_obtenerPorId">
    <part name="parameters" element="tns:metodoPago_obtenerPorId" />
  </message>
  <message name="metodoPago_obtenerPorIdResponse">
    <part name="parameters" element="tns:metodoPago_obtenerPorIdResponse" />
  </message>
  <message name="metodoPago_insertar">
    <part name="parameters" element="tns:metodoPago_insertar" />
  </message>
  <message name="metodoPago_insertarResponse">
    <part name="parameters" element="tns:metodoPago_insertarResponse" />
  </message>
  <message name="metodoPago_listarTodos">
    <part name="parameters" element="tns:metodoPago_listarTodos" />
  </message>
  <message name="metodoPago_listarTodosResponse">
    <part name="parameters" element="tns:metodoPago_listarTodosResponse" />
  </message>
  <message name="metodoPago_modificar">
    <part name="parameters" element="tns:metodoPago_modificar" />
  </message>
  <message name="metodoPago_modificarResponse">
    <part name="parameters" element="tns:metodoPago_modificarResponse" />
  </message>
  <message name="metodoPago_eliminar">
    <part name="parameters" element="tns:metodoPago_eliminar" />
  </message>
  <message name="metodoPago_eliminarResponse">
    <part name="parameters" element="tns:metodoPago_eliminarResponse" />
  </message>
  <portType name="MetodoPagoWA">
    <operation name="metodoPago_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_obtenerPorIdRequest" message="tns:metodoPago_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_obtenerPorIdResponse" message="tns:metodoPago_obtenerPorIdResponse" />
    </operation>
    <operation name="metodoPago_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_insertarRequest" message="tns:metodoPago_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_insertarResponse" message="tns:metodoPago_insertarResponse" />
    </operation>
    <operation name="metodoPago_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_listarTodosRequest" message="tns:metodoPago_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_listarTodosResponse" message="tns:metodoPago_listarTodosResponse" />
    </operation>
    <operation name="metodoPago_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_modificarRequest" message="tns:metodoPago_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_modificarResponse" message="tns:metodoPago_modificarResponse" />
    </operation>
    <operation name="metodoPago_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_eliminarRequest" message="tns:metodoPago_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/MetodoPagoWA/metodoPago_eliminarResponse" message="tns:metodoPago_eliminarResponse" />
    </operation>
  </portType>
  <binding name="MetodoPagoWAPortBinding" type="tns:MetodoPagoWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="metodoPago_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="metodoPago_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="metodoPago_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="metodoPago_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="metodoPago_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MetodoPagoWA">
    <port name="MetodoPagoWAPort" binding="tns:MetodoPagoWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/MetodoPagoWA" />
    </port>
  </service>
</definitions>