FrontEnd/OdontoSysBusiness/Connected Services/PacienteWS/PacienteWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PacienteWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/PacienteWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="paciente_modificar">
    <part name="parameters" element="tns:paciente_modificar" />
  </message>
  <message name="paciente_modificarResponse">
    <part name="parameters" element="tns:paciente_modificarResponse" />
  </message>
  <message name="paciente_insertar">
    <part name="parameters" element="tns:paciente_insertar" />
  </message>
  <message name="paciente_insertarResponse">
    <part name="parameters" element="tns:paciente_insertarResponse" />
  </message>
  <message name="paciente_eliminar">
    <part name="parameters" element="tns:paciente_eliminar" />
  </message>
  <message name="paciente_eliminarResponse">
    <part name="parameters" element="tns:paciente_eliminarResponse" />
  </message>
  <message name="paciente_obtenerPorUsuarioContrasenha">
    <part name="parameters" element="tns:paciente_obtenerPorUsuarioContrasenha" />
  </message>
  <message name="paciente_obtenerPorUsuarioContrasenhaResponse">
    <part name="parameters" element="tns:paciente_obtenerPorUsuarioContrasenhaResponse" />
  </message>
  <message name="paciente_verificarExistenciaNombreUsuario">
    <part name="parameters" element="tns:paciente_verificarExistenciaNombreUsuario" />
  </message>
  <message name="paciente_verificarExistenciaNombreUsuarioResponse">
    <part name="parameters" element="tns:paciente_verificarExistenciaNombreUsuarioResponse" />
  </message>
  <message name="paciente_buscarPorNombreApellidoDocumento">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellidoDocumento" />
  </message>
  <message name="paciente_buscarPorNombreApellidoDocumentoResponse">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellidoDocumentoResponse" />
  </message>
  <message name="paciente_buscarPorNombreApellidoTelefono">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellidoTelefono" />
  </message>
  <message name="paciente_buscarPorNombreApellidoTelefonoResponse">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellidoTelefonoResponse" />
  </message>
  <message name="paciente_obtenerPorId">
    <part name="parameters" element="tns:paciente_obtenerPorId" />
  </message>
  <message name="paciente_obtenerPorIdResponse">
    <part name="parameters" element="tns:paciente_obtenerPorIdResponse" />
  </message>
  <message name="paciente_listarTodos">
    <part name="parameters" element="tns:paciente_listarTodos" />
  </message>
  <message name="paciente_listarTodosResponse">
    <part name="parameters" element="tns:paciente_listarTodosResponse" />
  </message>
  <message name="paciente_buscarPorNombreApellido">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellido" />
  </message>
  <message name="paciente_buscarPorNombreApellidoResponse">
    <part name="parameters" element="tns:paciente_buscarPorNombreApellidoResponse" />
  </message>
  <portType name="PacienteWA">
    <operation name="paciente_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_modificarRequest" message="tns:paciente_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_modificarResponse" message="tns:paciente_modificarResponse" />
    </operation>
    <operation name="paciente_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_insertarRequest" message="tns:paciente_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_insertarResponse" message="tns:paciente_insertarResponse" />
    </operation>
    <operation name="paciente_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_eliminarRequest" message="tns:paciente_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_eliminarResponse" message="tns:paciente_eliminarResponse" />
    </operation>
    <operation name="paciente_obtenerPorUsuarioContrasenha">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_obtenerPorUsuarioContrasenhaRequest" message="tns:paciente_obtenerPorUsuarioContrasenha" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_obtenerPorUsuarioContrasenhaResponse" message="tns:paciente_obtenerPorUsuarioContrasenhaResponse" />
    </operation>
    <operation name="paciente_verificarExistenciaNombreUsuario">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_verificarExistenciaNombreUsuarioRequest" message="tns:paciente_verificarExistenciaNombreUsuario" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_verificarExistenciaNombreUsuarioResponse" message="tns:paciente_verificarExistenciaNombreUsuarioResponse" />
    </operation>
    <operation name="paciente_buscarPorNombreApellidoDocumento">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoDocumentoRequest" message="tns:paciente_buscarPorNombreApellidoDocumento" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoDocumentoResponse" message="tns:paciente_buscarPorNombreApellidoDocumentoResponse" />
    </operation>
    <operation name="paciente_buscarPorNombreApellidoTelefono">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoTelefonoRequest" message="tns:paciente_buscarPorNombreApellidoTelefono" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoTelefonoResponse" message="tns:paciente_buscarPorNombreApellidoTelefonoResponse" />
    </operation>
    <operation name="paciente_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_obtenerPorIdRequest" message="tns:paciente_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_obtenerPorIdResponse" message="tns:paciente_obtenerPorIdResponse" />
    </operation>
    <operation name="paciente_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_listarTodosRequest" message="tns:paciente_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_listarTodosResponse" message="tns:paciente_listarTodosResponse" />
    </operation>
    <operation name="paciente_buscarPorNombreApellido">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoRequest" message="tns:paciente_buscarPorNombreApellido" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/PacienteWA/paciente_buscarPorNombreApellidoResponse" message="tns:paciente_buscarPorNombreApellidoResponse" />
    </operation>
  </portType>
  <binding name="PacienteWAPortBinding" type="tns:PacienteWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="paciente_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_obtenerPorUsuarioContrasenha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_verificarExistenciaNombreUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_buscarPorNombreApellidoDocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_buscarPorNombreApellidoTelefono">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paciente_buscarPorNombreApellido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PacienteWA">
    <port name="PacienteWAPort" binding="tns:PacienteWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/PacienteWA" />
    </port>
  </service>
</definitions>