FrontEndEmpleados/OdontoSysWebApplication/Connected Services/TipoDocumentoWS/TipoDocumentoWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TipoDocumentoWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/TipoDocumentoWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="tipoDocumento_listarTodos">
    <part name="parameters" element="tns:tipoDocumento_listarTodos" />
  </message>
  <message name="tipoDocumento_listarTodosResponse">
    <part name="parameters" element="tns:tipoDocumento_listarTodosResponse" />
  </message>
  <message name="tipoDocumento_insertar">
    <part name="parameters" element="tns:tipoDocumento_insertar" />
  </message>
  <message name="tipoDocumento_insertarResponse">
    <part name="parameters" element="tns:tipoDocumento_insertarResponse" />
  </message>
  <message name="tipoDocumento_obtenerPorId">
    <part name="parameters" element="tns:tipoDocumento_obtenerPorId" />
  </message>
  <message name="tipoDocumento_obtenerPorIdResponse">
    <part name="parameters" element="tns:tipoDocumento_obtenerPorIdResponse" />
  </message>
  <message name="tipoDocumento_modificar">
    <part name="parameters" element="tns:tipoDocumento_modificar" />
  </message>
  <message name="tipoDocumento_modificarResponse">
    <part name="parameters" element="tns:tipoDocumento_modificarResponse" />
  </message>
  <message name="tipoDocumento_eliminar">
    <part name="parameters" element="tns:tipoDocumento_eliminar" />
  </message>
  <message name="tipoDocumento_eliminarResponse">
    <part name="parameters" element="tns:tipoDocumento_eliminarResponse" />
  </message>
  <portType name="TipoDocumentoWA">
    <operation name="tipoDocumento_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_listarTodosRequest" message="tns:tipoDocumento_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_listarTodosResponse" message="tns:tipoDocumento_listarTodosResponse" />
    </operation>
    <operation name="tipoDocumento_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_insertarRequest" message="tns:tipoDocumento_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_insertarResponse" message="tns:tipoDocumento_insertarResponse" />
    </operation>
    <operation name="tipoDocumento_obtenerPorId">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_obtenerPorIdRequest" message="tns:tipoDocumento_obtenerPorId" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_obtenerPorIdResponse" message="tns:tipoDocumento_obtenerPorIdResponse" />
    </operation>
    <operation name="tipoDocumento_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_modificarRequest" message="tns:tipoDocumento_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_modificarResponse" message="tns:tipoDocumento_modificarResponse" />
    </operation>
    <operation name="tipoDocumento_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_eliminarRequest" message="tns:tipoDocumento_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TipoDocumentoWA/tipoDocumento_eliminarResponse" message="tns:tipoDocumento_eliminarResponse" />
    </operation>
  </portType>
  <binding name="TipoDocumentoWAPortBinding" type="tns:TipoDocumentoWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="tipoDocumento_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tipoDocumento_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tipoDocumento_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tipoDocumento_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="tipoDocumento_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TipoDocumentoWA">
    <port name="TipoDocumentoWAPort" binding="tns:TipoDocumentoWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/TipoDocumentoWA" />
    </port>
  </service>
</definitions>