FrontEndEmpleados/OdontoSysWebApplication/Connected Services/TurnoXOdontologoWS/TurnoXOdontologoWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TurnoXOdontologoWA" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWebApplication/TurnoXOdontologoWA?xsd=1" namespace="http://webapplication.odontosys.edu.pucp.pe/" />
    </xsd:schema>
  </types>
  <message name="turnoXOdontologo_insertar">
    <part name="parameters" element="tns:turnoXOdontologo_insertar" />
  </message>
  <message name="turnoXOdontologo_insertarResponse">
    <part name="parameters" element="tns:turnoXOdontologo_insertarResponse" />
  </message>
  <message name="turnoXOdontologo_eliminar">
    <part name="parameters" element="tns:turnoXOdontologo_eliminar" />
  </message>
  <message name="turnoXOdontologo_eliminarResponse">
    <part name="parameters" element="tns:turnoXOdontologo_eliminarResponse" />
  </message>
  <message name="turnoXOdontologo_modificar">
    <part name="parameters" element="tns:turnoXOdontologo_modificar" />
  </message>
  <message name="turnoXOdontologo_modificarResponse">
    <part name="parameters" element="tns:turnoXOdontologo_modificarResponse" />
  </message>
  <message name="turnoXOdontologo_listarTodos">
    <part name="parameters" element="tns:turnoXOdontologo_listarTodos" />
  </message>
  <message name="turnoXOdontologo_listarTodosResponse">
    <part name="parameters" element="tns:turnoXOdontologo_listarTodosResponse" />
  </message>
  <portType name="TurnoXOdontologoWA">
    <operation name="turnoXOdontologo_insertar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_insertarRequest" message="tns:turnoXOdontologo_insertar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_insertarResponse" message="tns:turnoXOdontologo_insertarResponse" />
    </operation>
    <operation name="turnoXOdontologo_eliminar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_eliminarRequest" message="tns:turnoXOdontologo_eliminar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_eliminarResponse" message="tns:turnoXOdontologo_eliminarResponse" />
    </operation>
    <operation name="turnoXOdontologo_modificar">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_modificarRequest" message="tns:turnoXOdontologo_modificar" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_modificarResponse" message="tns:turnoXOdontologo_modificarResponse" />
    </operation>
    <operation name="turnoXOdontologo_listarTodos">
      <input wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_listarTodosRequest" message="tns:turnoXOdontologo_listarTodos" />
      <output wsam:Action="http://webapplication.odontosys.edu.pucp.pe/TurnoXOdontologoWA/turnoXOdontologo_listarTodosResponse" message="tns:turnoXOdontologo_listarTodosResponse" />
    </operation>
  </portType>
  <binding name="TurnoXOdontologoWAPortBinding" type="tns:TurnoXOdontologoWA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="turnoXOdontologo_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="turnoXOdontologo_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="turnoXOdontologo_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="turnoXOdontologo_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TurnoXOdontologoWA">
    <port name="TurnoXOdontologoWAPort" binding="tns:TurnoXOdontologoWAPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWebApplication/TurnoXOdontologoWA" />
    </port>
  </service>
</definitions>