FrontEnd/OdontoSysBusiness/Connected Services/TratamientoWS/TratamientoWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tratamiento_eliminar" type="tns:tratamiento_eliminar" />
  <xs:element name="tratamiento_eliminarResponse" type="tns:tratamiento_eliminarResponse" />
  <xs:element name="tratamiento_insertar" type="tns:tratamiento_insertar" />
  <xs:element name="tratamiento_insertarResponse" type="tns:tratamiento_insertarResponse" />
  <xs:element name="tratamiento_listarPorEspecilidad" type="tns:tratamiento_listarPorEspecilidad" />
  <xs:element name="tratamiento_listarPorEspecilidadResponse" type="tns:tratamiento_listarPorEspecilidadResponse" />
  <xs:element name="tratamiento_listarTodos" type="tns:tratamiento_listarTodos" />
  <xs:element name="tratamiento_listarTodosResponse" type="tns:tratamiento_listarTodosResponse" />
  <xs:element name="tratamiento_modificar" type="tns:tratamiento_modificar" />
  <xs:element name="tratamiento_modificarResponse" type="tns:tratamiento_modificarResponse" />
  <xs:element name="tratamiento_obtenerPorId" type="tns:tratamiento_obtenerPorId" />
  <xs:element name="tratamiento_obtenerPorIdResponse" type="tns:tratamiento_obtenerPorIdResponse" />
  <xs:complexType name="tratamiento_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="tratamiento_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento">
    <xs:sequence>
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element minOccurs="0" name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_listarPorEspecilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_listarPorEspecilidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>