OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/tratamientoWS/Tratamientos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarTratamiento" type="tns:EliminarTratamiento" />
  <xs:element name="EliminarTratamientoResponse" type="tns:EliminarTratamientoResponse" />
  <xs:element name="InsertarTratamiento" type="tns:InsertarTratamiento" />
  <xs:element name="InsertarTratamientoResponse" type="tns:InsertarTratamientoResponse" />
  <xs:element name="ListarTratamientos" type="tns:ListarTratamientos" />
  <xs:element name="ListarTratamientosResponse" type="tns:ListarTratamientosResponse" />
  <xs:element name="ModificarTratamiento" type="tns:ModificarTratamiento" />
  <xs:element name="ModificarTratamientoResponse" type="tns:ModificarTratamientoResponse" />
  <xs:complexType name="ModificarTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento">
    <xs:sequence>
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarTratamientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTratamientos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTratamientosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarTratamientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTratamiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTratamientoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>