OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/tratamientoWS/Tratamientos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Tratamientos" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Tratamientos?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="ListarTratamientos">
    <part name="parameters" element="tns:ListarTratamientos" />
  </message>
  <message name="ListarTratamientosResponse">
    <part name="parameters" element="tns:ListarTratamientosResponse" />
  </message>
  <message name="InsertarTratamiento">
    <part name="parameters" element="tns:InsertarTratamiento" />
  </message>
  <message name="InsertarTratamientoResponse">
    <part name="parameters" element="tns:InsertarTratamientoResponse" />
  </message>
  <message name="EliminarTratamiento">
    <part name="parameters" element="tns:EliminarTratamiento" />
  </message>
  <message name="EliminarTratamientoResponse">
    <part name="parameters" element="tns:EliminarTratamientoResponse" />
  </message>
  <message name="ModificarTratamiento">
    <part name="parameters" element="tns:ModificarTratamiento" />
  </message>
  <message name="ModificarTratamientoResponse">
    <part name="parameters" element="tns:ModificarTratamientoResponse" />
  </message>
  <portType name="Tratamientos">
    <operation name="ListarTratamientos">
      <input wsam:Action="http://wa.odontosys.com/Tratamientos/ListarTratamientosRequest" message="tns:ListarTratamientos" />
      <output wsam:Action="http://wa.odontosys.com/Tratamientos/ListarTratamientosResponse" message="tns:ListarTratamientosResponse" />
    </operation>
    <operation name="InsertarTratamiento">
      <input wsam:Action="http://wa.odontosys.com/Tratamientos/InsertarTratamientoRequest" message="tns:InsertarTratamiento" />
      <output wsam:Action="http://wa.odontosys.com/Tratamientos/InsertarTratamientoResponse" message="tns:InsertarTratamientoResponse" />
    </operation>
    <operation name="EliminarTratamiento">
      <input wsam:Action="http://wa.odontosys.com/Tratamientos/EliminarTratamientoRequest" message="tns:EliminarTratamiento" />
      <output wsam:Action="http://wa.odontosys.com/Tratamientos/EliminarTratamientoResponse" message="tns:EliminarTratamientoResponse" />
    </operation>
    <operation name="ModificarTratamiento">
      <input wsam:Action="http://wa.odontosys.com/Tratamientos/ModificarTratamientoRequest" message="tns:ModificarTratamiento" />
      <output wsam:Action="http://wa.odontosys.com/Tratamientos/ModificarTratamientoResponse" message="tns:ModificarTratamientoResponse" />
    </operation>
  </portType>
  <binding name="TratamientosPortBinding" type="tns:Tratamientos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarTratamientos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarTratamiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarTratamiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarTratamiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Tratamientos">
    <port name="TratamientosPort" binding="tns:TratamientosPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Tratamientos" />
    </port>
  </service>
</definitions>