OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/turnoxodontologoWS/TurnosXOdontologo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarTurnoXOdontologo" type="tns:EliminarTurnoXOdontologo" />
  <xs:element name="EliminarTurnoXOdontologoResponse" type="tns:EliminarTurnoXOdontologoResponse" />
  <xs:element name="InsertarTurnoXOdontologo" type="tns:InsertarTurnoXOdontologo" />
  <xs:element name="InsertarTurnoXOdontologoResponse" type="tns:InsertarTurnoXOdontologoResponse" />
  <xs:element name="TurnoListarPorOdontologo" type="tns:TurnoListarPorOdontologo" />
  <xs:element name="TurnoListarPorOdontologoResponse" type="tns:TurnoListarPorOdontologoResponse" />
  <xs:complexType name="TurnoListarPorOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TurnoListarPorOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo">
    <xs:sequence>
      <xs:element name="idOdontologo" type="xs:int" />
      <xs:element name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTurnoXOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="turnoXOdontologo" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarTurnoXOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarTurnoXOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="turnoXOdontologo" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarTurnoXOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>