OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/turnoxodontologoWS/TurnosXOdontologo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TurnosXOdontologo" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/TurnosXOdontologo?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="TurnoListarPorOdontologo">
    <part name="parameters" element="tns:TurnoListarPorOdontologo" />
  </message>
  <message name="TurnoListarPorOdontologoResponse">
    <part name="parameters" element="tns:TurnoListarPorOdontologoResponse" />
  </message>
  <message name="EliminarTurnoXOdontologo">
    <part name="parameters" element="tns:EliminarTurnoXOdontologo" />
  </message>
  <message name="EliminarTurnoXOdontologoResponse">
    <part name="parameters" element="tns:EliminarTurnoXOdontologoResponse" />
  </message>
  <message name="InsertarTurnoXOdontologo">
    <part name="parameters" element="tns:InsertarTurnoXOdontologo" />
  </message>
  <message name="InsertarTurnoXOdontologoResponse">
    <part name="parameters" element="tns:InsertarTurnoXOdontologoResponse" />
  </message>
  <portType name="TurnosXOdontologo">
    <operation name="TurnoListarPorOdontologo">
      <input wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/TurnoListarPorOdontologoRequest" message="tns:TurnoListarPorOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/TurnoListarPorOdontologoResponse" message="tns:TurnoListarPorOdontologoResponse" />
    </operation>
    <operation name="EliminarTurnoXOdontologo">
      <input wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/EliminarTurnoXOdontologoRequest" message="tns:EliminarTurnoXOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/EliminarTurnoXOdontologoResponse" message="tns:EliminarTurnoXOdontologoResponse" />
    </operation>
    <operation name="InsertarTurnoXOdontologo">
      <input wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/InsertarTurnoXOdontologoRequest" message="tns:InsertarTurnoXOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/TurnosXOdontologo/InsertarTurnoXOdontologoResponse" message="tns:InsertarTurnoXOdontologoResponse" />
    </operation>
  </portType>
  <binding name="TurnosXOdontologoPortBinding" type="tns:TurnosXOdontologo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="TurnoListarPorOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarTurnoXOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarTurnoXOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TurnosXOdontologo">
    <port name="TurnosXOdontologoPort" binding="tns:TurnosXOdontologoPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/TurnosXOdontologo" />
    </port>
  </service>
</definitions>