FrontEnd/OdontoSysBusiness/Connected Services/TurnoWS/TurnoWA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="turno_eliminar" type="tns:turno_eliminar" />
  <xs:element name="turno_eliminarResponse" type="tns:turno_eliminarResponse" />
  <xs:element name="turno_insertar" type="tns:turno_insertar" />
  <xs:element name="turno_insertarResponse" type="tns:turno_insertarResponse" />
  <xs:element name="turno_listarPorOdontologo" type="tns:turno_listarPorOdontologo" />
  <xs:element name="turno_listarPorOdontologoResponse" type="tns:turno_listarPorOdontologoResponse" />
  <xs:element name="turno_listarTodos" type="tns:turno_listarTodos" />
  <xs:element name="turno_listarTodosResponse" type="tns:turno_listarTodosResponse" />
  <xs:element name="turno_modificar" type="tns:turno_modificar" />
  <xs:element name="turno_modificarResponse" type="tns:turno_modificarResponse" />
  <xs:element name="turno_obtenerPorId" type="tns:turno_obtenerPorId" />
  <xs:element name="turno_obtenerPorIdResponse" type="tns:turno_obtenerPorIdResponse" />
  <xs:complexType name="turno_listarPorOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_listarPorOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaSemana" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="turno_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONDAY" />
      <xs:enumeration value="TUESDAY" />
      <xs:enumeration value="WEDNESDAY" />
      <xs:enumeration value="THURSDAY" />
      <xs:enumeration value="FRIDAY" />
      <xs:enumeration value="SATURDAY" />
      <xs:enumeration value="SUNDAY" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>