FrontEnd/OdontoSysWebApplication/Connected Services/TurnoXOdontologoWS/TurnoXOdontologoWA1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webapplication.odontosys.edu.pucp.pe/" targetNamespace="http://webapplication.odontosys.edu.pucp.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="turnoXOdontologo_eliminar" type="tns:turnoXOdontologo_eliminar" />
  <xs:element name="turnoXOdontologo_eliminarResponse" type="tns:turnoXOdontologo_eliminarResponse" />
  <xs:element name="turnoXOdontologo_insertar" type="tns:turnoXOdontologo_insertar" />
  <xs:element name="turnoXOdontologo_insertarResponse" type="tns:turnoXOdontologo_insertarResponse" />
  <xs:element name="turnoXOdontologo_listarTodos" type="tns:turnoXOdontologo_listarTodos" />
  <xs:element name="turnoXOdontologo_listarTodosResponse" type="tns:turnoXOdontologo_listarTodosResponse" />
  <xs:element name="turnoXOdontologo_modificar" type="tns:turnoXOdontologo_modificar" />
  <xs:element name="turnoXOdontologo_modificarResponse" type="tns:turnoXOdontologo_modificarResponse" />
  <xs:complexType name="turnoXOdontologo_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turnoXOdontologo" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOdontologo" type="xs:int" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turnoXOdontologo" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="turnoXOdontologo" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="turnoXOdontologo_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:turnoXOdontologo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>