OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/comprobanteWS/Comprobantes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarComprobante" type="tns:EliminarComprobante" />
  <xs:element name="EliminarComprobanteResponse" type="tns:EliminarComprobanteResponse" />
  <xs:element name="InsertComprobante" type="tns:InsertComprobante" />
  <xs:element name="InsertComprobanteResponse" type="tns:InsertComprobanteResponse" />
  <xs:element name="ListarComprobantes" type="tns:ListarComprobantes" />
  <xs:element name="ListarComprobantesResponse" type="tns:ListarComprobantesResponse" />
  <xs:complexType name="InsertComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaEmision" type="tns:localDate" />
      <xs:element minOccurs="0" name="horaEmision" type="tns:localTime" />
      <xs:element name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertComprobanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarComprobanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarComprobantes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarComprobantesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>