OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/comprobanteWS/Comprobantes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Comprobantes" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Comprobantes?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="InsertComprobante">
    <part name="parameters" element="tns:InsertComprobante" />
  </message>
  <message name="InsertComprobanteResponse">
    <part name="parameters" element="tns:InsertComprobanteResponse" />
  </message>
  <message name="ListarComprobantes">
    <part name="parameters" element="tns:ListarComprobantes" />
  </message>
  <message name="ListarComprobantesResponse">
    <part name="parameters" element="tns:ListarComprobantesResponse" />
  </message>
  <message name="EliminarComprobante">
    <part name="parameters" element="tns:EliminarComprobante" />
  </message>
  <message name="EliminarComprobanteResponse">
    <part name="parameters" element="tns:EliminarComprobanteResponse" />
  </message>
  <portType name="Comprobantes">
    <operation name="InsertComprobante">
      <input wsam:Action="http://wa.odontosys.com/Comprobantes/InsertComprobanteRequest" message="tns:InsertComprobante" />
      <output wsam:Action="http://wa.odontosys.com/Comprobantes/InsertComprobanteResponse" message="tns:InsertComprobanteResponse" />
    </operation>
    <operation name="ListarComprobantes">
      <input wsam:Action="http://wa.odontosys.com/Comprobantes/ListarComprobantesRequest" message="tns:ListarComprobantes" />
      <output wsam:Action="http://wa.odontosys.com/Comprobantes/ListarComprobantesResponse" message="tns:ListarComprobantesResponse" />
    </operation>
    <operation name="EliminarComprobante">
      <input wsam:Action="http://wa.odontosys.com/Comprobantes/EliminarComprobanteRequest" message="tns:EliminarComprobante" />
      <output wsam:Action="http://wa.odontosys.com/Comprobantes/EliminarComprobanteResponse" message="tns:EliminarComprobanteResponse" />
    </operation>
  </portType>
  <binding name="ComprobantesPortBinding" type="tns:Comprobantes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="InsertComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarComprobantes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Comprobantes">
    <port name="ComprobantesPort" binding="tns:ComprobantesPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Comprobantes" />
    </port>
  </service>
</definitions>