OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/odontologoWS/Odontologos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Odontologos" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/Odontologos?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="eliminarOdontologo">
    <part name="parameters" element="tns:eliminarOdontologo" />
  </message>
  <message name="eliminarOdontologoResponse">
    <part name="parameters" element="tns:eliminarOdontologoResponse" />
  </message>
  <message name="od_obtenerPorID">
    <part name="parameters" element="tns:od_obtenerPorID" />
  </message>
  <message name="od_obtenerPorIDResponse">
    <part name="parameters" element="tns:od_obtenerPorIDResponse" />
  </message>
  <message name="insertarOdontologo">
    <part name="parameters" element="tns:insertarOdontologo" />
  </message>
  <message name="insertarOdontologoResponse">
    <part name="parameters" element="tns:insertarOdontologoResponse" />
  </message>
  <message name="modificarOdontologo">
    <part name="parameters" element="tns:modificarOdontologo" />
  </message>
  <message name="modificarOdontologoResponse">
    <part name="parameters" element="tns:modificarOdontologoResponse" />
  </message>
  <message name="listarPorEspecialidad">
    <part name="parameters" element="tns:listarPorEspecialidad" />
  </message>
  <message name="listarPorEspecialidadResponse">
    <part name="parameters" element="tns:listarPorEspecialidadResponse" />
  </message>
  <message name="od_buscarPorUsuario">
    <part name="parameters" element="tns:od_buscarPorUsuario" />
  </message>
  <message name="od_buscarPorUsuarioResponse">
    <part name="parameters" element="tns:od_buscarPorUsuarioResponse" />
  </message>
  <message name="od_listarOdontologos">
    <part name="parameters" element="tns:od_listarOdontologos" />
  </message>
  <message name="od_listarOdontologosResponse">
    <part name="parameters" element="tns:od_listarOdontologosResponse" />
  </message>
  <portType name="Odontologos">
    <operation name="eliminarOdontologo">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/eliminarOdontologoRequest" message="tns:eliminarOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/eliminarOdontologoResponse" message="tns:eliminarOdontologoResponse" />
    </operation>
    <operation name="od_obtenerPorID">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/od_obtenerPorIDRequest" message="tns:od_obtenerPorID" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/od_obtenerPorIDResponse" message="tns:od_obtenerPorIDResponse" />
    </operation>
    <operation name="insertarOdontologo">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/insertarOdontologoRequest" message="tns:insertarOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/insertarOdontologoResponse" message="tns:insertarOdontologoResponse" />
    </operation>
    <operation name="modificarOdontologo">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/modificarOdontologoRequest" message="tns:modificarOdontologo" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/modificarOdontologoResponse" message="tns:modificarOdontologoResponse" />
    </operation>
    <operation name="listarPorEspecialidad">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/listarPorEspecialidadRequest" message="tns:listarPorEspecialidad" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/listarPorEspecialidadResponse" message="tns:listarPorEspecialidadResponse" />
    </operation>
    <operation name="od_buscarPorUsuario">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/od_buscarPorUsuarioRequest" message="tns:od_buscarPorUsuario" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/od_buscarPorUsuarioResponse" message="tns:od_buscarPorUsuarioResponse" />
    </operation>
    <operation name="od_listarOdontologos">
      <input wsam:Action="http://wa.odontosys.com/Odontologos/od_listarOdontologosRequest" message="tns:od_listarOdontologos" />
      <output wsam:Action="http://wa.odontosys.com/Odontologos/od_listarOdontologosResponse" message="tns:od_listarOdontologosResponse" />
    </operation>
  </portType>
  <binding name="OdontologosPortBinding" type="tns:Odontologos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="od_obtenerPorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="od_buscarPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="od_listarOdontologos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Odontologos">
    <port name="OdontologosPort" binding="tns:OdontologosPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/Odontologos" />
    </port>
  </service>
</definitions>