OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/odontologoWS/Odontologos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wa.odontosys.com/" targetNamespace="http://wa.odontosys.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOdontologo" type="tns:eliminarOdontologo" />
  <xs:element name="eliminarOdontologoResponse" type="tns:eliminarOdontologoResponse" />
  <xs:element name="insertarOdontologo" type="tns:insertarOdontologo" />
  <xs:element name="insertarOdontologoResponse" type="tns:insertarOdontologoResponse" />
  <xs:element name="listarPorEspecialidad" type="tns:listarPorEspecialidad" />
  <xs:element name="listarPorEspecialidadResponse" type="tns:listarPorEspecialidadResponse" />
  <xs:element name="modificarOdontologo" type="tns:modificarOdontologo" />
  <xs:element name="modificarOdontologoResponse" type="tns:modificarOdontologoResponse" />
  <xs:element name="od_buscarPorUsuario" type="tns:od_buscarPorUsuario" />
  <xs:element name="od_buscarPorUsuarioResponse" type="tns:od_buscarPorUsuarioResponse" />
  <xs:element name="od_listarOdontologos" type="tns:od_listarOdontologos" />
  <xs:element name="od_listarOdontologosResponse" type="tns:od_listarOdontologosResponse" />
  <xs:element name="od_obtenerPorID" type="tns:od_obtenerPorID" />
  <xs:element name="od_obtenerPorIDResponse" type="tns:od_obtenerPorIDResponse" />
  <xs:complexType name="insertarOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="odontologo" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="odontologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
          <xs:element minOccurs="0" name="consultorio" type="tns:sala" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="idOdontologo" type="xs:int" />
          <xs:element name="puntuacionPromedio" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="turnos" nillable="true" type="tns:turno" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="odontologo" type="tns:odontologo" />
      <xs:element minOccurs="0" name="paciente" type="tns:paciente" />
      <xs:element name="puntuacion" type="xs:double" />
      <xs:element minOccurs="0" name="recepcionista" type="tns:recepcionista" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tratamientos" nillable="true" type="tns:detalleTratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaEmision" type="tns:localDate" />
      <xs:element minOccurs="0" name="horaEmision" type="tns:localTime" />
      <xs:element name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="metodoPago">
    <xs:sequence>
      <xs:element name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paciente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:cita" />
          <xs:element name="idPaciente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="recepcionista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="idRecepcionista" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="detalleTratamiento">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idCita" type="xs:int" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tratamiento" type="tns:tratamiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tratamiento">
    <xs:sequence>
      <xs:element name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
      <xs:element name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element name="piso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaSemana" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="od_listarOdontologos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="od_listarOdontologosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="odontologo" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="od_obtenerPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="odontologoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="od_obtenerPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="od_buscarPorUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="odontologoUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="od_buscarPorUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOdontologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="odontologo" type="tns:odontologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOdontologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESERVADA" />
      <xs:enumeration value="ATENDIDA" />
      <xs:enumeration value="CANCELADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNE_DE_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLACEHOLDER" />
      <xs:enumeration value="PACIENTE" />
      <xs:enumeration value="ODONTOLOGO" />
      <xs:enumeration value="RECEPCIONISTA" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MONDAY" />
      <xs:enumeration value="TUESDAY" />
      <xs:enumeration value="WEDNESDAY" />
      <xs:enumeration value="THURSDAY" />
      <xs:enumeration value="FRIDAY" />
      <xs:enumeration value="SATURDAY" />
      <xs:enumeration value="SUNDAY" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>