OdontoSysFrontEnd/OdontoSysBusiness/Connected Services/detallestratamientosWS/DetallesTratamientos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wa.odontosys.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DetallesTratamientos" targetNamespace="http://wa.odontosys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/OdontoSysWA/DetallesTratamientos?xsd=1" namespace="http://wa.odontosys.com/" />
    </xsd:schema>
  </types>
  <message name="ModificarDetalle">
    <part name="parameters" element="tns:ModificarDetalle" />
  </message>
  <message name="ModificarDetalleResponse">
    <part name="parameters" element="tns:ModificarDetalleResponse" />
  </message>
  <message name="EliminarDetalle">
    <part name="parameters" element="tns:EliminarDetalle" />
  </message>
  <message name="EliminarDetalleResponse">
    <part name="parameters" element="tns:EliminarDetalleResponse" />
  </message>
  <message name="InsertarDetalle">
    <part name="parameters" element="tns:InsertarDetalle" />
  </message>
  <message name="InsertarDetalleResponse">
    <part name="parameters" element="tns:InsertarDetalleResponse" />
  </message>
  <portType name="DetallesTratamientos">
    <operation name="ModificarDetalle">
      <input wsam:Action="http://wa.odontosys.com/DetallesTratamientos/ModificarDetalleRequest" message="tns:ModificarDetalle" />
      <output wsam:Action="http://wa.odontosys.com/DetallesTratamientos/ModificarDetalleResponse" message="tns:ModificarDetalleResponse" />
    </operation>
    <operation name="EliminarDetalle">
      <input wsam:Action="http://wa.odontosys.com/DetallesTratamientos/EliminarDetalleRequest" message="tns:EliminarDetalle" />
      <output wsam:Action="http://wa.odontosys.com/DetallesTratamientos/EliminarDetalleResponse" message="tns:EliminarDetalleResponse" />
    </operation>
    <operation name="InsertarDetalle">
      <input wsam:Action="http://wa.odontosys.com/DetallesTratamientos/InsertarDetalleRequest" message="tns:InsertarDetalle" />
      <output wsam:Action="http://wa.odontosys.com/DetallesTratamientos/InsertarDetalleResponse" message="tns:InsertarDetalleResponse" />
    </operation>
  </portType>
  <binding name="DetallesTratamientosPortBinding" type="tns:DetallesTratamientos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ModificarDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DetallesTratamientos">
    <port name="DetallesTratamientosPort" binding="tns:DetallesTratamientosPortBinding">
      <soap:address location="http://localhost:8080/OdontoSysWA/DetallesTratamientos" />
    </port>
  </service>
</definitions>